{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block nav_user %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% else %}
        {% include "navbar-form-login.html" %}
    {% endif %}
{% endblock %}


{% block content %}
    <h1>
        {% block title %}
            {% trans "MCDIS Exam System" %}
        {% endblock %}
    </h1>

    <div class="row">
        <ul class="lead">
            <li><a href="{% url 'quiz_index' %}">{% trans "All quizes" %}</a></li>
            <li><a href="{% url 'quiz_category_list_all' %}">{% trans "All categories" %}</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}