{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block nav_user %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% else %}
        {% include "navbar-form-login.html" %}
    {% endif %}
{% endblock %}


{% block content %}
    <h1>
        {% block title %}
            {% trans "Customs Brokers Exam System" %}
        {% endblock %}
    </h1>

    <div class="row">
            <h3>{% trans "User documentation" %}</h3>

            <p>{% bootstrap_icon "book" %} {% trans "User manuals are available" %}
                <a href="redmine.local/redmine/projects/hrmis/wiki">
                {% trans " in the Wiki section of the support site." %}
                    {% comment %}
                    todo: $( "h1" ).first().load( "/redmine/projects/vrs-support/wiki .wiki-page" );
                    {% endcomment %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
